@font-face {
  font-family: 'PangeaAfrikanTextTrial';
  src: url('./PangeaAfrikanTextTrial-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PangeaAfrikanTextTrial';
  src: url('./PangeaAfrikanTextTrial-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PangeaAfrikanTextTrial';
  src: url('./PangeaAfrikanTextTrial-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PangeaAfrikanTextTrial';
  src: url('./PangeaAfrikanTextTrial-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PangeaAfrikanTextTrial';
  src: url('./PangeaAfrikanTextTrial-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PangeaAfrikanTextTrial';
  src: url('./PangeaAfrikanTextTrial-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
